
body > .grid {
height: 100%;
}
.image {
margin-top: -100px;
}
.column {
max-width: 450px;
}
.modal-close {
  padding: 10px 15px;
  border-radius: 5px;
  color: #616161;
  transition: background-color 0.5s ease;
}

.modal-close:hover {
  background-color: #ececec;
}
  
h3 {
  text-transform: capitalize;
  text-align: center;
}

.custom:hover {
    cursor: pointer;
}

.modal-custom-height {
    height: 100%;
}

a {
    color: #039be5 !important;
}