<nav class="navbar navbar-expand-lg bg-dark navbar-fixed">
    <div class="container">
        <div class="navbar-title-custom-1">Gif
            <span class="navbar-title-custom-2">hub</span>
        </div>
        <!-- Navbar left -->
        <div class="collapse navbar-collapse">
            <div class="nav">
                <a class="nav-item nav-link nav-custom" [routerLink]="['/']">Home</a>
                <a class="nav-item nav-link nav-custom" [routerLink]="['/search']">Search</a>
                <a class="nav-item nav-link nav-custom" [routerLink]="['/favorites']">Favorites</a>
            </div>
        </div>
        <!-- Navbar right -->
        <div class="nav">
            <a class="nav-item nav-link nav-custom" [routerLink]="['/login']" *ngIf="isLoggedOut()">Sign in</a>
            <a class="nav-item nav-link nav-custom" [routerLink]="['/signup']" *ngIf="isLoggedOut()">Sign up</a>
            <a class="nav-item nav-link nav-custom" *ngIf="isLoggedIn()" (click)="logOut()">Sign out</a>
        </div>
    </div>
</nav>
<br>