<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-title-custom-1" routerLink="">Gif<span class="navbar-title-custom-2">hub</span></a>
        <div class="collapse navbar-collapse" id="navbarLeft">
            <div class="nav nav-tabs">
                <a class="nav-item nav-link" routerLink="search" routerLinkActive="active">Search</a>
                <a class="nav-item nav-link" routerLink="favorites" routerLinkActive="active">Favorites</a>
            </div>
        </div>
        <div class="nav nav-tabs" id="navbarRight">
            <a class="nav-item nav-link" routerLink="">username</a>
            <a class="nav-item nav-link" routerLink="">Sign Out</a>
        </div>
    </div>
</nav>
<br>
<router-outlet></router-outlet>