<!-- Favorites tile -->
<div class="row">
    <div class="col col-lg-12">
        <div class="jumbotron dark">
            <h2 class="tile-header px-3">favorites</h2>

            <div *ngIf="isLoggedIn() && favoriteGifs.length == 0">
                <flash-messages></flash-messages>
            </div>

            <div *ngIf="isLoggedIn() && authToken">
                <div class="align-center">
                    <br>
                    <div class="row">
                        <div *ngFor="let favorite of favoriteGifs">
                            <div class="col-lg-3">
                                <a [routerLink]="['/gifs', favorite.id]" [queryParams]="{ title: favorite.title }">
                                    <img src="{{ favorite.images.fixed_width.url }}" class="favorite-gif" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="isLoggedOut()">
                <flash-messages></flash-messages>
            </div>

        </div>
    </div>
</div>