
.align {
    text-align: center;
}
.max-width {
    max-width: 500px;
}
.gif {
    border-radius: 0.25rem;
}
.jumbotron {
    margin-bottom: 0;
}
.dark {
    background-color: #343a40;
}
.tile-header {
    color: #20c997 !important;
    font-weight: bolder;
}
.align-left {
    float: left;
    clear: both;
    margin-bottom: 1rem;
}
.lead {
    color: white;
}