img.giphy-logo {
    width: 232px;
    padding-bottom: 17.61px;
}
p {
    color: white;
}
.dark {
    background-color: #343a40;
}
.align {
    text-align: center;
}
.max-width {
    max-width: 650px;
    max-height: 525px;
}
.gif {
    border-radius: 0.25rem;
}
hr {
    border-color:white;
    width:75%;
}
.giphy-credit {
    font-size:80%;
    color:white;
}
.navbar-title-custom-1 {
    text-align: center;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
    font-size: 2rem;
    line-height: inherit;
    white-space: nowrap;
}
.navbar-title-custom-2 {
    text-align: center;
    color: white;
    font-weight: 400;
    text-decoration: none;
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
    margin-left: -0.3rem;
    margin-right: 1.5rem;
    font-size: 2rem;
    line-height: inherit;
    white-space: nowrap;
}
.btn-custom:hover {
    cursor: pointer !important;
}
.jumbotron {
    margin-bottom: 0;
}

.trending-gif {
    margin-right: 18px;
    margin-left: 18px;
    margin-bottom: 25px;
    border-radius: 0.25rem;
}

.tile-header {
    color: #20c997 !important;
    font-weight: bolder;
}