<div class="container">
  <div class="row">

    <div class="col col-lg-4">
      <div class="jumbotron dark">
        <h1 class="navbar-title-custom-1">
          <span>
            <img src="/assets/gh-logo.png" width="100" height="100" alt="">
          </span>
           Gif
           <span class="navbar-title-custom-2">
              hub
           </span>
        </h1>
        <p class="lead" >A simple, personalized UI to help find and manage your favorite GIFs.</p>
        <br>
        <div>
          <p>powered by</p>
            <span>
              <img class="giphy-logo" src="/assets/giphy-logo.gif" alt="">
            </span>
          
        </div>
      </div>      
    </div>

    <div class="col col-lg-8">
      <div class="jumbotron">
        <div class="align">
          <h1>Happy {{ currentDay }}, username.</h1>
          <br>
          <div *ngIf="gif">
            <img class="max-width" src="{{ gif.image_original_url }}" alt="">
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

