<div class="container">
  <div class="row">

    <div class="col col-lg-4">
      <div class="jumbotron">
        <h1 class="brand">
          <span>
            <img src="/assets/gh-logo.png" width="100" height="100" alt="">
          </span>
           Gifhub
        </h1>
        <p class="lead">A simple, personalized UI to find and manage your favorite Gifs.</p>
        <br>
        <div>
          <p>powered by &nbsp;
            <span>
              <img class="giphy-logo" src="/assets/giphy-logo.gif" alt="">
            </span>
          </p>
        </div>
      </div>      
    </div>

    <div class="col col-lg-8">
      <div class="jumbotron">
        <p>Happy Wednesday, username.</p>
        <p>random gif here.</p>
      </div>
    </div>

  </div>
</div>

