.gif {
    margin-right: 20px;
    margin-left: 18px;
    margin-bottom: 25px;
    border-radius: 0.25rem;
}

.search-button {
    cursor: pointer;
}

.align-center {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: auto auto;
}

.search-header {
    margin-top: 10px;
}

.search-result {
    color: #20c997;
    font-weight: bolder;
}

.search-bad-result {
    color: #20c997;
    font-weight: bolder;
}

.pagination-bar {
    text-align: center;
    margin-bottom: 50px;
}

.small-padding {
    padding: 2rem 2rem;
}

.dropdown-text {
    padding-right: 0.2rem;
    font-size: 90%;
}
.navbar-title-custom-1 {
    text-align: center;
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
    font-size: 2rem;
    line-height: inherit;
    white-space: nowrap;
}
.navbar-title-custom-2 {
    text-align: center;
    color: black;
    font-weight: 400;
    text-decoration: none;
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
    margin-left: -0.3rem;
    margin-right: 1.5rem;
    font-size: 2rem;
    line-height: inherit;
    white-space: nowrap;
}