.gif {
    margin-right: 20px;
    margin-left: 18px;
    padding-bottom: 25px;
}

.search-button {
    cursor: pointer;
}

.align-center {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.search-header {
    margin-top: 10px;
}

.search-result {
    color: #2AA198;
}

.search-bad-result {
    color: #2AA198;
}

.pagination {
    align-content: center;
    margin-bottom: 20px;
}

.pagination-data {
    margin-bottom: 20px;
}