.gif {
    margin-right: 20px;
    margin-left: 18px;
    padding-bottom: 25px;
}

.search-button {
    cursor: pointer;
}

.align-center {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: auto auto;
}

.search-header {
    margin-top: 10px;
}

.search-result {
    color: #20c997;
    font-weight: bolder;
}

.search-bad-result {
    color: #007bff;
    font-weight: bolder;
}

.pagination-data {
    margin-bottom: 20px;
}

.pagination-bar {
text-align: center;
    margin-bottom: 30px;
}